@font-face {
  font-family: 'Qanelas';
  font-weight: 400;
  font-style: normal;

  font-display: swap;
  src:
    url('./Qanelas/Qanelas-Regular.woff') format('woff'),
    url('./Qanelas/Qanelas-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Qanelas';
  font-weight: 500;
  font-style: normal;

  font-display: swap;
  src:
    url('./Qanelas/Qanelas-Medium.woff') format('woff'),
    url('./Qanelas/Qanelas-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Qanelas';
  font-weight: 600;
  font-style: normal;

  font-display: swap;
  src:
    url('./Qanelas/Qanelas-SemiBold.woff') format('woff'),
    url('./Qanelas/Qanelas-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Qanelas';
  font-weight: 700;
  font-style: normal;

  font-display: swap;
  src:
    url('./Qanelas/Qanelas-Bold.woff') format('woff'),
    url('./Qanelas/Qanelas-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Qanelas';
  font-weight: 800;
  font-style: normal;

  font-display: swap;
  src:
    url('./Qanelas/Qanelas-ExtraBold.woff') format('woff'),
    url('./Qanelas/Qanelas-ExtraBold.ttf') format('ttf');
}
